<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mobile.name %>
</p>

<p>
  <strong>Manufacturing date:</strong>
  <%= @mobile.manufacturing_date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @mobile.price %>
</p>

<p>
  <strong>Imei:</strong>
  <%= @mobile.imei %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @mobile.brand.name %>
</p>

<%= link_to 'Edit', edit_mobile_path(@mobile) %> |
<%= link_to 'Back', mobiles_path %>
