<p id="notice"><%= notice %></p>

<p>
  <strong>Present or absent:</strong>
  <%= @attendence.present_or_absent %>
</p>

<p>
  <strong>Date and time of entry:</strong>
  <%= @attendence.date_and_time_of_entry %>
</p>

<p>
  <strong>Date and time of exit:</strong>
  <%= @attendence.date_and_time_of_exit %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @attendence.employee %>
</p>

<%= link_to 'Edit', edit_attendence_path(@attendence) %> |
<%= link_to 'Back', attendences_path %>
