<%= link_to "home", "/" %> ||
<%= link_to "add new employee", "/add_employee" %> 

<hr/>
<table border='1'>
<tr>
	<th colspan="9">Employee Details </th>
</tr>
  <tr>
    <th>employee id</th>
    <th>first_name </th>
    <th>last_name</th>
    <th>email_id </th>
    <th>contact number</th>
    <th>department id</th>
    <th>address</th>
    <th>id_type </th>
    <th>id_proof_no</th>
    <th> </th>
  
  </tr>
  <tr> 
  <% @details.each do |detail| %>
    <tr>
      <td><%= detail.id %></td>
      <td><%= detail.first_name%></td>
      <td><%= detail.last_name%></td>
      <td><%= detail.email_id%></td>
      <td><%= detail.contact_no%></td>
      <td><%= detail.department_id%></td>
      <td><%= detail.address%></td>
      <td><%= detail.id_type%></td>
      <td><%= detail.id_proof_no%></td>
      <td> <%= link_to "edit", "/" %> || <%= link_to "delete", "/delete_employee?id=#{detail.id}",method: 'delete' %></td>
    </tr>
  <% end %>

 </tr>
 </table>