<p id="notice"><%= notice %></p>

<p>
  <strong>Buyer:</strong>
  <%= @customer_mobile.buyer %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @customer_mobile.seller %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @customer_mobile.invoice %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @customer_mobile.mobile %>
</p>

<%= link_to 'Edit', edit_customer_mobile_path(@customer_mobile) %> |
<%= link_to 'Back', customer_mobiles_path %>
